{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        #title{
            color: #260026;}
    </style>
{% endblock %}

{% block title %}{{ title }} {{ user.username }}{% endblock %}

{% block page_content %}
<div class="container">
    <h1 id="title">{{ title }} {{ user.username }}</h1>
    <table class="table table-hover table-border">
        <thead>
            <tr>
                <th>User Name</th>
                <th>AC Time</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user %}
            <tr>
                <td>
                    <a href="{{ url_for('auth.user', username = user.user.username) }}">
                        <img class="img-rounded" src="{{ user.user.gravatar(size=32) }}">
                        {{ user.user.username }}
                    </a>
                </td>
                <td>{{ moment(user.AC_time).format('L') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if pagination%}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, endpoint, SID = SID) }}
    </div>
    {% endif %}
</div>
{% endblock %}
