{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - {{ title }} {{ contest.Title }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }}</h1>
</div>
<li><a href="{{ url_for('contest.contest_status', Contest_id=contest.id) }}">Status</a></li>
<table class="table table-hover problem">
    <thead><tr><th>OJ Name</th><th>Problem Title</th></tr></thead>
    {% set Num = 1 %}
    {% for problem in problem %}
    <tr>
        <td>
                {{ Num }}
                {% set Num = Num + 1%}
            </a>
        </td>
        <td><a href="{{ url_for('main.contest_problem', Contest_id=contest.id, Num = Num) }}">{{ problem.problem.Title }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, id = id) }}
</div>
{% endblock %}
