{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles%}
	{{ super() }}
	<style type="text/css">
		#title{
			color: #260026;}
	</style>
{% endblock%}

{% block title %}Contests{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 id="title">Contest</h1>
</div>
{% include '_contest.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.indexContest') }}
</div>
{% endif %}
{% endblock %}

