{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "wtf.html" as wtf %}
{% block title %}Problems{% endblock %}

{% block page_content %}
<div class="modify-contest">
        <table id="contest" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Contest Name</th>
			<th>Begin time</th>
            <th>End time</th>
            <th>Manager</th>
		</tr>
	</thead>
    	<tbody>
            <tr>
                <th>{{ contest.Title }}</th>
                <th>{{ contest.Begin_time }}</th>
                <th>{{ contest.End_time }}</th>
                <th>{{ contest.Manager }}</th>
            </tr>
        </tbody>
        </table>
        <table id="problems" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>
            <th>Problem ID</th>
            <th>OJ_ID</th>
			<th>PID</th>
			<th>Title</th>
			<th>Modify</th>
		</tr>
	</thead>
	{% set num = 1 %}
    	<tbody>
    		{% for problems in problem %}
            <tr>
            	<th>{{ num }}</th>
                <th>{{ problems.OJ_ID }}</th>
                <th>{{ problems.PID }}</th>
                <th>{{ problems.Title }}</th>
                <th><a class="btn btn-danger" href="{{ url_for('contest.modify_contest',id=contest.id,delete=problems.SID) }}">Delete</a></th>
            </tr>
            {% set num=num+1 %}
            {% endfor %}
        </tbody>
        </table>
    {{ wtf.quick_form(form) }}
   <a class="btn btn-primary" href="{{ url_for('contest.indexContest') }}">Finish</a>
    
    </div>
{% endblock %}
