{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ problems.Title }}{% endblock %}

{% block styles%}
    {{ super() }}
{% endblock%}

{% block page_content %}
<div class="row-fluid">
    <div class="span12">
        <h1>{{ problems.PID }} {{ problems.Title }}</h1>
        <table id="problems" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Time Limit</th>
                    <th>Memory Limit</th>
                    <th>Total Submissions</th>
                    <th>Accepted</th>
                    <th>Special Judge</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ problems.Time_Limit }}</th>
                    <th>{{ problems.Memory_Limit }}</th>
                    <th>{{ problems.Total_Submissions }}</th>
                    <th>{{ problems.Accepted }}</th>
                    {% if problems.Special_Judge == 'Special Judge' %}
                    <th>YES</th>
                    {% else %}
                    <th>NO</th>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <div align="center">
            <div class="btn-group">
                <a class="btn btn-primary" href="{{ url_for('contest.contest_submit',PID=num, Contest_id =Contest_id) }}">Submit</a>
                <a class="btn btn-default" href="{{ url_for('contest.contest_status', Contest_id=Contest_id) }}">Status</a>
            </div>
        </div>
        <h2>Description</h2>
        <div class="well">
            {% for value in problems.Description %}
                <p>{{ value|safe }}</p>
            {% endfor %}
        </div>
        <h2>Input</h2>
        <div class="well">
            {% for value in problems.Input %}
                <p>{{ value|safe }}</p>
            {% endfor %}
        </div>
        <h2>Output</h2>
        <div class="well">
            {% for value in problems.Output %}
                <p>{{ value|safe }}</p>
            {% endfor %}
        </div>
        <h2>Sample Input</h2>
        <div class="well">
            {% for value in problems.Sample_Input %}
                <p>{{ value|safe }}</p>
            {% endfor %}
        </div>
        <h2>Sample Output</h2>
        <div class="well">
            {% for value in problems.Sample_Output %}
                <p>{{ value|safe }}</p>
            {% endfor %}
        </div>
        <h2>Hint</h2>
        <div class="well">
            {% for value in problems.Hint %}
                <p>{{ value|safe }}</p>
            {% endfor %}
        </div>
        <h2>Source</h2>
        <p><small>{{ problems.Source|safe }}</small></p>
    </div>
</div>
{% endblock %}
