	{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block title %}Register{% endblock %}
{% block styles %}
	{{ super() }}
	<style type="text/css">
		#title{
			color: #260026;}
	</style>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div>
			<h1 id="title">Welcome, stranger!</h1>
		</div>
	</div>
	<form method="post" class="form form-actions" role="form">
		<legend>Register</legend>
		{{ form.hidden_tag() }}
		<div class="control-group">
			{{ form.email.label(class="control-label") }} {{ form.email ()}}
		</div>
		<div class="control-group">
			{{ form.username.label(class="control-label") }} {{ form.username() }}
		</div>
		<div class="control-group">
			{{ form.password.label(class="control-label") }} {{ form.password() }}
		</div>
		<div class="control-group">
			{{ form.password2.label(class="control-label") }} {{ form.password2() }}
		</div>
		<div class="control-group">
			{{ form.country.label(class="control-group") }} {{ form.country() }}
		</div>
		<div class="controls">{{ form.submit.lable }} {{ form.submit(class="btn btn-primary") }}</div>
	</form>
{% endblock %}
