{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block styles %}
	{{ super() }}
	<style type="text/css">
		#title{
			color: #260026;}
	</style>
{% endblock %}

{% block title %}Password Reset{% endblock %}

{% block page_content %}
<div class="container">
	<h1 id="title">Reset Your Password</h1>
	<form method="post" role="form" class="form form-actions">
		{{ form.hidden_tag() }}
		<div class="control-group">
			<div class="controls">{{ form.email.label(class="control-label") }} {{ form.email() }}</div>
		</div>
		{{ form.submit(class="btn btn-primary") }}
	</form>
</div>
{% endblock %}
